*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
   }
   
   ::-webkit-scrollbar-track {
	display: none;
   }
   
   ::-webkit-scrollbar-thumb {
	 display: none;
   }
.container{
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #182b3a;
  background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
  
}
.body-section{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.header{
  width: 100%;
  height: 10%;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile{
  font-size: 30px;
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: azure;
}
.body{
  width: 100%;
  height: 90%;
  padding: 20px;
}

.body-container{
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.op-section{
  width: 100%;
  height: 25%;
  padding: 0 10px 0 10px;
}
.op-aria{
 width: 100%;
 height: 100%;
}
.op-top{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#aName{
  width: 120px;
  height: 20px;
  text-align: left;
  padding: 2px;
  border: none;
  outline: none;
  border-radius: 5px;
}
#PriorityFilter{
  width: 120px;
  padding: 2px;
  border: none;
  outline: none;
  border-radius: 5px;
}
#dateInput{
  width: 200px;
  padding: 2px;
  border: none;
  outline: none;
  border-radius: 5px;
}
#sortByPriority{
  width: 120px;
  padding: 2px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.add-task{
  width: 120px;
  padding: 5px;
  background-color: navy;
  color: white;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.op-bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dp-section{
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.c-card{
  height: 100%;
  width: 19%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
}
.ch-name{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px 5px 0 0;
}
.t-priority{
  background-color: navy;
  color: white;
  padding: 1px;
  border-radius: 3px;
}
#Pending {
  background-color: gray;
}

#In-Progress {
  background-color: orange;
}

#Completed {
  background-color: rgb(35, 151, 0);
}

#Deployed {
  background-color: navy;
}

#Deferred {
  background-color: #e67382;
}
.c-content{
  width: 100%;
  height: 85%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  overflow-y: scroll;
}

/* Add Task Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(8px); 
  backdrop-filter: blur(8px); 
  z-index: 7;
}

.modal-content {
  width: 30vw;
  height: 60vh;
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.at-head{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.at-form{
  width: 100%;
  height: 85%;
  background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
padding: 20px;
}
.close {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.addtask-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.input-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.input-fields{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.field-aria{
  width: 250px;
}
input[type="text"]{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#description{
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  resize: none;
}
#priority{
  display: flex;
  align-items: center;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.task{
  width: 100%;
  background-color: #cdcdcd;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.t-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.t-desc{
  width: 100%;
  text-wrap: wrap;
  overflow: hidden;
}
.action{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  border: none;
  color: white;
  font-size: 18px;
  padding: 1px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border-radius: 3px;
}
.status{
  background-color: navy;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 3px;
  padding: 3px;
}

.action-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px); 
  backdrop-filter: blur(8px); 
  z-index: 2;
}
 .Pending {
  position: relative;
  top: 60%;
  left: 28%;
}
.In-Progress{
  position: relative;
  top: 60%;
  left: 38%;
}
.Completed{
  position: relative;
  top: 60%;
  left: 38%;
}
.Deployed{
  position: relative;
  top: 60%;
  left: 48%;
}
.Deferred{
  position: relative;
  top: 60%;
  left: 58%;
}
.action-content{
  width: 10vw;
  height: 15vh;
  background-color: #cfcfcf;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  padding: 10px;
}
.action-content hr{
  width: 100%;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.edit-btn{
  border: none;
  background: none;
  cursor: pointer;
}
.delete-btn{
  border: none;
  background: none;
  cursor: pointer;
}
.delete-content{
  width: 30vw;
  height: 30vh;
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.delete-op{
  width: 100%;
  height: 85%;
  background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
padding: 20px;
text-transform: capitalize;
display: flex;
flex-direction: column;
gap: 30px;
}
.delete-action{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.delete-confirm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.delete-confirm button{
  width: 50px;
  padding: 5px 0 5px 0;
  background-color: navy;
  color: white;
  cursor: pointer;
  border: none;
}
.edit-content {
  width: 25vw;
  height: 70vh;
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.edit-fields{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.editable-fields{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
}
.edit-field-aria{
  width: 100%;
}
.editable-field-aria{
  width: 50%;
}
/* .editable-field-aria input{
  height: 20px;
  width: 100%;
} */
.edit-aria{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.edit-head{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.edit-form{
  width: 100%;
  height: 90%;
  background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
padding: 20px;
}
.edit-buttons{
  width: 100%;
  display: flex;
  flex-direction:row ;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.edit-buttons button{
  width: 50px;
  padding: 5px 0 5px 0;
  background-color: navy;
  color: white;
  cursor: pointer;
  border: none;
  border-radius:5px ;
}
#status{
  padding: 2px;
  width: 100px;
  border-radius: 5px;
  border: none;
  outline: none;
}